

<html>
<head>
	<title>Concussion Testing</title>
	<!-- Bootsrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le Bootstrap styles -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- Le other styles -->
	<style>
		body {
			padding-top: 60px;
			padding-left: 30px;
			padding-right: 30px;
			background: lightgrey;
		}

	</style>
  <script type='text/javascript' id='lt_ws' src='http://localhost:49806/socket.io/lighttable/ws.js'></script>
</head>
	<body>
		<!-- Navigation bar -->
		<div class="navbar navbar-fixed-top navbar-inverse">
	      <div class="navbar-inner">
	        <div class="container">
        	    <a class="brand" href="/">Home</a>
       		    <a class="brand" href="/about.html">About</a>
       		    <a class="brand" href="/blog.html">Progress</a>
       		    <a class="brand" href="/view_data.html">Analyze</a>
       		    <a class="brand" href="https://github.com/wallarelvo/concuss">GitHub</a>
	        </div>
	      </div>
	    </div>

	     <!-- Modal that is displayed once you start -->
	    <div id="startMessage" data-backdrop="static" class="modal hide fade">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3 class="brand">Testing your balance and reflexes</h3>
			</div>
			<div class="modal-body">
		    	<p class="lead">
		    		There will be two circles on the screen, one large, open circle and one small,
		    		solid circle. Keep the smaller circle inside the larger circle by tilting
		    		the tablet. There is an initial acceleration applied on the smaller circle
		    		and you must over come this acceleration to keep the smaller circle
		    		inside the designated boundary. You will be tested on the amount of time
		    		the smaller circle is within the boundary.
			    </p>
			    <p class="lead">
			    	Press <b>Okay</b> and hold the device flat to begin.
			    </p>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Okay</button>
			</div>
		</div>

	    <!-- Modal that is displayed once you finish -->
	    <div id="endMessage" data-backdrop="static" class="modal hide fade">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3 class="brand">Results</h3>
			</div>
			<div class="modal-body">
				<table class="table table-hover" border="0">
					<tr>
						<td><b>Time in Circle:</b></td>
						<td id="time"></td>
					</tr>
					<tr>
						<td><b>Percent of Time in Circle:</b></td>
						<td id="percent"></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
			    <a href="/balance_ball.html" class="btn">Retry</a>
			    <a href="/draw_shape.html" onClick="sendData()" class="btn btn-primary">Submit</a>
			</div>
		</div>

		<span class="lead">
			Horizontal tilt: <span id="tiltHorizontal">0.00</span>, Vertical tilt: <span id="tiltVertical">0.00</span>,
			Time: <span id="timer">0.00</span>
		</span>

		<!-- All the images used in the app -->
		<img id="circlesmall" src="/img/circlesmall.png" style="display:none;"/>
		<img id="green_circle" src = "/img/greencircle.gif" style="display:none;"/>
		<img id="open_circle" src="/img/circle.gif" style="display:none;"/>

		<canvas id="mainCanvas"></canvas>

		<!-- JQuery and Bootstrap Javascript files -->
		<script text="text/javascript" src="/js/jquery-1.9.1.js"></script>
		<script text="text/javascript" src="/js/jquery.cookie.js"></script>
		<script src="/js/bootstrap.js"></script>

		<!-- Concuss.js and Canvas utilities -->
		<script text="text/javascript" src="/js/canvas_util.js"></script>
		<script text="text/javascript" src="/js/balance_ball.js"></script>
	</body>
</html>

