

<html>
<head>
	<title>Concussion Testing</title>
	<!-- Bootsrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le Bootstrap styles -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- Le other styles -->
	<style>
		body {
			padding-top: 60px;
			padding-left: 30px;
			padding-right: 30px;
			background: lightgrey;
		}

	</style>
</head>
	<body>
		<!-- Navigation bar -->
		<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
        	    <a class="brand" href="/">Home</a>
       		    <a class="brand" href="/about.html">About</a>
       		    <a class="brand" href="/blog.html">Progress</a>
       		    <a class="brand" href="https://github.com/wallarelvo/concuss">GitHub</a>
	        </div>
	      </div>
	    </div>

	    <div class="container">
	    	<div class="span5 offset3">
	    		<h1>Concuss.js</h1>
      			<p class="lead">What have I been up to?</p>

      			<div class="accordion" id="accordion2">
      				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        						June 3, 2013
      						</a>
      					</div>
      					<div id="collapseOne" class="accordion-body collapse in">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				As of now, I have finished a lot of the structure for creating tests.
				      				I have created a utility for using the canvas tag to manipulate objects
				      				based on touch input. A system is also configured to run tasks once 
				      				a touch as been initiated, moved, and ended. 
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				A test has now been crafted in which two balls move randomly around the screen
				      				and it is the goal of the subject to keep one finger in each circle. The
				      				application records how long each circle was occupied shows a modal displaying
				      				in a table the time, and the percentage of time that each of the circles
				      				was filled. There is also a modal that is displayed when the page is started
				      				outlining how the test should be conducted. The test is started once the 
				      				subject presses okay on the modal and puts their fingers inside the circles.
				      			</p>

				      			<p class="lead"><b>Things that need doing</b></p>
				      			<p>
				      				<ul>
				      					<li>
				      						Collect a distance metric to see how far the fingers were
				      						from the correct circles
				      					</li>
				      					<li>
				      						Check which transitions are difficult for the subject to
				      						follow
				      					</li>
				      					<li>Implement the submit button to actually send data on the modal</li>
				      					<li>Make the balls never cross over themselves about the y-axis</li>
				      					<li>Create a login site that allows subjects to put their information</li>
				      					<li>Allow entry of new information on the server side</li>
				      					<li>
				      						Create a structure that allows for transitions between tests
				      						<ul>
				      							<li>
				      								<b>Update</b>: will use separate html pages to encourage 
				      								modularity
				      							</li>
				      						</ul>
				      					</li>
				      					<li>
				      						Create a stroop color word test (perhaps use speech recognition)
				      						<ul>
				      							<li><b>Update</b>: will not use this test</li>
				      						</ul>
				      					</li>
				      					<li>
				      						Add a balance test that asks the subject to match the pitch of a
				      						a previously played sound by balancing on one foot and moving the
				      						tablet side to side
				      					</li>
				      				</ul>
				      			</p>
      						</div>
    					</div>
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        						June 4, 2013
      						</a>
      					</div>
      					<div id="collapseTwo" class="accordion-body collapse in">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				The main contributions today involved adding a form that a subject will 
				      				fill before the test begins. This data is saved temporarily using cookies. 
				      				Once the subject finishes the test, the data stored in the cookies along with
				      				the results are sent to the server and inserted into a RethinkDB database. 
				      				I have also included modals that notify the user of the instructions, tell 
				      				the user how they have done on the tests, and thank the user for using the 
				      				application. 
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				More on the database side of things. The database's secondary index is 
				      				the email address. This should be unique so the indexing is not really 
				      				a problem I think. Perhaps I should make better login system... Using 
				      				email as the secondary index, I check if the email has been used before.
				      				If so, the results list is appended. If not, a new entry is inserted
				      				into the table. This allows people to do the test multiple times. Also, 
				      				the results list is flexible to have new tests (Thanks to RethinkDB).
				      			</p>

				      			<p class="lead"><b>Things that need doing</b></p>
				      			<p>
				      				<ul>
				      					<li>Do not let an incompleted form be sent</li>
				      					<li>
				      						Circle game
					      					<ul>
						      					<li>
						      						Collect a distance metric to see how far the fingers were
						      						from the correct circles
						      					</li>
						      					<li>
						      						Check which transitions are difficult for the subject to
						      						follow
						      					</li>
						      					<li>Make the balls never cross over themselves about the y-axis</li>
						      				</ul>
						      			</li>
						      			<li>
						      				New tests
						      				<ul>
						      					<li>
						      						A test where user is shown a sequence of shapes and is asked
						      						to draw one of the shapes from the sequence. For instance, a
						      						subject is shown in order a square, a triangle, an octagon,
						      						and a circle. The user will be the prompted to draw the 3rd
						      						shape from that sequence. The subject should draw the octagon.
						      						Likewise, other questions could be asked such as draw the shape
						      						shown that had the least number of sides. 
						      					</li>
						      					<li>
						      						Adding on to the test described above, I could combine cognitive
						      						and balance testing by having the user draw the shape using
						      						tilt registered by the tablet.
						      					</li>
						      					<li>
						      						Arda suggested that I create a test that has a series of lines
						      						(or dots, not sure yet), and the subject is prompted to connect 
						      						the dots. This test will see how coodinated the subject is. The 
						      						metric being evaluated will measure how close to the actual line
						      						the drawn line is and how fast the dots were connected. 
						      					</li>
						      					<li>
						      						Perhaps the pitch matching game (boring as well)
						      					</li>
						      					<li>
						      						The generic test that a user has to tilt the tablet to get
						      						a ball through a maze (I dont really wanna do this one)
						      					</li>
						      				</ul>
						      			</li>
				      					<li>
				      						Transition between tests using separate html pages. Add a href to the
				      						button on the modal that takes the current view to the next page
				      					</li>
				      				</ul>
				      			</p>
      						</div>
    					</div>
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        						June 5, 2013
      						</a>
      					</div>
      					<div id="collapseThree" class="accordion-body collapse in">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				As of now, the design and implementation of the second has been completed.
				      				To refresh one's memory, this test puts 2 circles on the screen for 
				      				a given period of time. After the time has passed, the circles disappear
				      				and the subject is asked to draw a line between where he / she thinks
				      				they were. This test is supposed to measure coordination and memory. The 
				      				memory aspect of the test is obvious. The coordination component exists 
				      				because the user is also graded on how well he / she did on drawing the
				      				line between the two circles. 
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				For this test to be compatible with the other, I need to save the test results
				      				in cookies so the data can be sent in one chunk to the server after all 
				      				of the tests have been completed. The metrics that will be used to measure
				      				how well the user did will be the distance from the starting and ending point
				      				of the drawn line to the respective circle and how straight the line was. 
				      				Line straightness will be measured by checking each heading in the onTouchMoved
				      				function. How they deviate will bring about a good metric showing how straight
				      				the line is.
				      			</p>

				      			<p class="lead"><b>Things that need doing</b></p>
				      			<p>
				      				<ul>
				      					<li>Do not let an incompleted form be sent!</li>
				      					<li>
				      						Save the data from each test in a cookie until the last test
				      						where the data will be sent to the server
				      					</li>
				      					<li>Implement the metrics for the draw_shape test</li>
				      					<li>Append what is already being sent to the database with the new result</li>
				      					<li>
				      						Circle game
					      					<ul>
						      					<li>
						      						Collect a distance metric to see how far the fingers were
						      						from the correct circles
						      					</li>
						      					<li>
						      						Check which transitions are difficult for the subject to
						      						follow
						      					</li>
						      					<li>Make the balls never cross over themselves about the y-axis</li>
						      				</ul>
						      			</li>
						      			<li>
						      				New tests
						      				<ul>
						      					<li>
						      						A test where user is shown a sequence of shapes and is asked
						      						to draw one of the shapes from the sequence. For instance, a
						      						subject is shown in order a square, a triangle, an octagon,
						      						and a circle. The user will be the prompted to draw the 3rd
						      						shape from that sequence. The subject should draw the octagon.
						      						Likewise, other questions could be asked such as draw the shape
						      						shown that had the least number of sides. 
						      					</li>
						      					<li>
						      						Adding on to the test described above, I could combine cognitive
						      						and balance testing by having the user draw the shape using
						      						tilt registered by the tablet.
						      					</li>
						      				</ul>
						      			</li>
				      					<li>
				      						Transition between tests using separate html pages. Add a href to the
				      						button on the modal that takes the current view to the next page
				      					</li>
				      				</ul>
				      			</p>
      						</div>
    					</div>
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        						June 6, 2013
      						</a>
      					</div>
      					<div id="collapseFour" class="accordion-body collapse in">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				Today has focused on generating statistics for the line drawing test, 
				      				sending this data to the server, and integrating this test into the 
				      				natural test sequence along with the other follow circle test. All of
				      				these goals were achieved. The statisics being gathered are scaled
				      				because the resolution of the screen may change based on the device. 
				      				The data that is being gathered is comprised of the distance from the 
				      				starting point to the starting circle, the distance from the ending point
				      				and the ending circle, and the velocity.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				Another component added to the line drawing test is that as the test 
				      				goes on, the length of time that the user has to view the two circles
				      				decreases. This now means that the subject has to use some sort of flash
				      				memory to store the positions of the circles and it must be recalled 
				      				on instinct. 
				      			</p>
				      			<p class="lead"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					There should be focus on creating an integrated balance
				      					test. I am not sure yet how to do this... brainstorm :D
				      				</li>
				      				<li>
				      					Everything said before not including what I have finished:
				      					<ul>
				      						<li>
				      						Circle game
					      					<ul>
						      					<li>
						      						Collect a distance metric to see how far the fingers were
						      						from the correct circles
						      					</li>
						      					<li>
						      						Check which transitions are difficult for the subject to
						      						follow
						      					</li>
						      					<li>Make the balls never cross over themselves about the y-axis</li>
						      				</ul>
						      			</li>
						      			<li>
						      				New tests
						      				<ul>
						      					<li>
						      						A test where user is shown a sequence of shapes and is asked
						      						to draw one of the shapes from the sequence. For instance, a
						      						subject is shown in order a square, a triangle, an octagon,
						      						and a circle. The user will be the prompted to draw the 3rd
						      						shape from that sequence. The subject should draw the octagon.
						      						Likewise, other questions could be asked such as draw the shape
						      						shown that had the least number of sides. 
						      					</li>
						      					<li>
						      						Adding on to the test described above, I could combine cognitive
						      						and balance testing by having the user draw the shape using
						      						tilt registered by the tablet.
						      					</li>
						      				</ul>
					      				</li>
				      				</li>
				      			</ul>
      						</div>
    					</div>
						<div class="accordion-heading">
	  						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
	    						June 8, 2013
	  						</a>
	  					</div>
	  					<div id="collapseFive" class="accordion-body collapse in">
	  						<div class="accordion-inner">
	  							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				I have created the functionality for the third test. This test asks the user
				      				to keep a ball within a circle by tilting the device. The ball has an initial 
				      				random acceleration and the user must counter act this acceleration by moving
				      				the device. The user will be scored on the percent of time that the user keeps
				      				tha ball in the designated radius.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				I still need to add the timing functionality but it will be the same
				      				functionality that exists in the first test. Once I finish this test
				      				I will look at computer vision techniques for new tests. 
				      				My goal for tomorrow is to totally finish the
				      				third test so I can show it in the progress report meeting.
				      			</p>

				      			<p class="lead"><b>Things that need doing</b></p>
				      			<p>
				      				<ul>
				      					<li>Add full functionality to the balance test</li>
				      					<li>
				      						Change the color of the open circle when the user
				      						puts the ball in the middle
				      					</li>
				      					<li>
				      						Add the timer from the first test to this test
				      					</li>
				      					<li>
				      						Add this test to the flow of the other tests
				      					</li>
				      					<li>Do not let an incompleted form be sent! (will change)</li>
						      			<li>
						      				New tests
						      				<ul>
						      					<li>
						      						A test where user is shown a sequence of shapes and is asked
						      						to draw one of the shapes from the sequence. For instance, a
						      						subject is shown in order a square, a triangle, an octagon,
						      						and a circle. The user will be the prompted to draw the 3rd
						      						shape from that sequence. The subject should draw the octagon.
						      						Likewise, other questions could be asked such as draw the shape
						      						shown that had the least number of sides. 
						      					</li>
						      					<li>
						      						Adding on to the test described above, I could combine cognitive
						      						and balance testing by having the user draw the shape using
						      						tilt registered by the tablet.
						      					</li>
						      				</ul>
						      			</li>
				      				</ul>
				      			</p>
	  						</div>
						</div>
					</div>
    			</div>
	    	</div>
	    </div>

		<!-- JQuery and Bootstrap Javascript files -->
		<script text="text/javascript" src="js/jquery-1.9.1.js"></script>
		<script src="js/bootstrap.js"></script>
		<script>
			$(function () {$(".collapse").collapse("hide");});
		</script>
	</body>
</html>

