

<html>
<head>
	<title>Concussion Testing</title>
	<!-- Bootsrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le Bootstrap styles -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- Le other styles -->
	<style>
		body {
			padding-top: 60px;
			padding-left: 30px;
			padding-right: 30px;
			background: lightgrey;
		}

    iframe {
      padding-top:15;
      padding-bottom:15;
    }

	</style>
  </head>
	<body>
		<!-- Navigation bar -->
		<div class="navbar navbar-fixed-top navbar-inverse">
	      <div class="navbar-inner">
	        <div class="container">
        	    <a class="brand" href="/">Home</a>
       		    <a class="brand" href="/about.html">About</a>
       		    <a class="brand" href="/blog.html">Progress</a>
       		    <a class="brand" href="/view_data.html">Analyze</a>
       		    <a class="brand" href="https://github.com/wallarelvo/concuss">GitHub</a>
	        </div>
	      </div>
	    </div>

	    <div class="container">
	    	<div class="span5 offset3">
	    		<h1>Concuss.js</h1>
      			<p class="lead">What have I been up to?</p>

      			<div class="accordion" id="accordion2">
      				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        						June 3, 2013
      						</a>
      					</div>
      					<div id="collapseOne" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				As of now, I have finished a lot of the structure for creating tests.
				      				I have created a utility for using the canvas tag to manipulate objects
				      				based on touch input. A system is also configured to run tasks once
				      				a touch as been initiated, moved, and ended.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				A test has now been crafted in which two balls move randomly around the screen
				      				and it is the goal of the subject to keep one finger in each circle. The
				      				application records how long each circle was occupied shows a modal displaying
				      				in a table the time, and the percentage of time that each of the circles
				      				was filled. There is also a modal that is displayed when the page is started
				      				outlining how the test should be conducted. The test is started once the
				      				subject presses okay on the modal and puts their fingers inside the circles.
				      			</p>

				      			<p class="lead"><b>Things that need doing</b></p>
				      			<p>
				      				<ul>
				      					<li>
				      						Collect a distance metric to see how far the fingers were
				      						from the correct circles
				      					</li>
				      					<li>
				      						Check which transitions are difficult for the subject to
				      						follow
				      					</li>
				      					<li>Implement the submit button to actually send data on the modal</li>
				      					<li>Make the balls never cross over themselves about the y-axis</li>
				      					<li>Create a login site that allows subjects to put their information</li>
				      					<li>Allow entry of new information on the server side</li>
				      					<li>
				      						Create a structure that allows for transitions between tests
				      						<ul>
				      							<li>
				      								<b>Update</b>: will use separate html pages to encourage
				      								modularity
				      							</li>
				      						</ul>
				      					</li>
				      					<li>
				      						Create a stroop color word test (perhaps use speech recognition)
				      						<ul>
				      							<li><b>Update</b>: will not use this test</li>
				      						</ul>
				      					</li>
				      					<li>
				      						Add a balance test that asks the subject to match the pitch of a
				      						a previously played sound by balancing on one foot and moving the
				      						tablet side to side
				      					</li>
				      				</ul>
				      			</p>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        						June 4, 2013
      						</a>
      					</div>
      					<div id="collapseTwo" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				The main contributions today involved adding a form that a subject will
				      				fill before the test begins. This data is saved temporarily using cookies.
				      				Once the subject finishes the test, the data stored in the cookies along with
				      				the results are sent to the server and inserted into a RethinkDB database.
				      				I have also included modals that notify the user of the instructions, tell
				      				the user how they have done on the tests, and thank the user for using the
				      				application.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				More on the database side of things. The database's secondary index is
				      				the email address. This should be unique so the indexing is not really
				      				a problem I think. Perhaps I should make better login system... Using
				      				email as the secondary index, I check if the email has been used before.
				      				If so, the results list is appended. If not, a new entry is inserted
				      				into the table. This allows people to do the test multiple times. Also,
				      				the results list is flexible to have new tests (Thanks to RethinkDB).
				      			</p>

				      			<p class="lead"><b>Things that need doing</b></p>
				      			<p>
				      				<ul>
				      					<li>Do not let an incompleted form be sent</li>
				      					<li>
				      						Circle game
					      					<ul>
						      					<li>
						      						Collect a distance metric to see how far the fingers were
						      						from the correct circles
						      					</li>
						      					<li>
						      						Check which transitions are difficult for the subject to
						      						follow
						      					</li>
						      					<li>Make the balls never cross over themselves about the y-axis</li>
						      				</ul>
						      			</li>
						      			<li>
						      				New tests
						      				<ul>
						      					<li>
						      						A test where user is shown a sequence of shapes and is asked
						      						to draw one of the shapes from the sequence. For instance, a
						      						subject is shown in order a square, a triangle, an octagon,
						      						and a circle. The user will be the prompted to draw the 3rd
						      						shape from that sequence. The subject should draw the octagon.
						      						Likewise, other questions could be asked such as draw the shape
						      						shown that had the least number of sides.
						      					</li>
						      					<li>
						      						Adding on to the test described above, I could combine cognitive
						      						and balance testing by having the user draw the shape using
						      						tilt registered by the tablet.
						      					</li>
						      					<li>
						      						Arda suggested that I create a test that has a series of lines
						      						(or dots, not sure yet), and the subject is prompted to connect
						      						the dots. This test will see how coodinated the subject is. The
						      						metric being evaluated will measure how close to the actual line
						      						the drawn line is and how fast the dots were connected.
						      					</li>
						      					<li>
						      						Perhaps the pitch matching game (boring as well)
						      					</li>
						      					<li>
						      						The generic test that a user has to tilt the tablet to get
						      						a ball through a maze (I dont really wanna do this one)
						      					</li>
						      				</ul>
						      			</li>
				      					<li>
				      						Transition between tests using separate html pages. Add a href to the
				      						button on the modal that takes the current view to the next page
				      					</li>
				      				</ul>
				      			</p>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        						June 5, 2013
      						</a>
      					</div>
      					<div id="collapseThree" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				As of now, the design and implementation of the second has been completed.
				      				To refresh one's memory, this test puts 2 circles on the screen for
				      				a given period of time. After the time has passed, the circles disappear
				      				and the subject is asked to draw a line between where he / she thinks
				      				they were. This test is supposed to measure coordination and memory. The
				      				memory aspect of the test is obvious. The coordination component exists
				      				because the user is also graded on how well he / she did on drawing the
				      				line between the two circles.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				For this test to be compatible with the other, I need to save the test results
				      				in cookies so the data can be sent in one chunk to the server after all
				      				of the tests have been completed. The metrics that will be used to measure
				      				how well the user did will be the distance from the starting and ending point
				      				of the drawn line to the respective circle and how straight the line was.
				      				Line straightness will be measured by checking each heading in the onTouchMoved
				      				function. How they deviate will bring about a good metric showing how straight
				      				the line is.
				      			</p>

				      			<p class="lead"><b>Things that need doing</b></p>
				      			<p>
				      				<ul>
				      					<li>Do not let an incompleted form be sent!</li>
				      					<li>
				      						Save the data from each test in a cookie until the last test
				      						where the data will be sent to the server
				      					</li>
				      					<li>Implement the metrics for the draw_shape test</li>
				      					<li>Append what is already being sent to the database with the new result</li>
				      					<li>
				      						Circle game
					      					<ul>
						      					<li>
						      						Collect a distance metric to see how far the fingers were
						      						from the correct circles
						      					</li>
						      					<li>
						      						Check which transitions are difficult for the subject to
						      						follow
						      					</li>
						      					<li>Make the balls never cross over themselves about the y-axis</li>
						      				</ul>
						      			</li>
						      			<li>
						      				New tests
						      				<ul>
						      					<li>
						      						A test where user is shown a sequence of shapes and is asked
						      						to draw one of the shapes from the sequence. For instance, a
						      						subject is shown in order a square, a triangle, an octagon,
						      						and a circle. The user will be the prompted to draw the 3rd
						      						shape from that sequence. The subject should draw the octagon.
						      						Likewise, other questions could be asked such as draw the shape
						      						shown that had the least number of sides.
						      					</li>
						      					<li>
						      						Adding on to the test described above, I could combine cognitive
						      						and balance testing by having the user draw the shape using
						      						tilt registered by the tablet.
						      					</li>
						      				</ul>
						      			</li>
				      					<li>
				      						Transition between tests using separate html pages. Add a href to the
				      						button on the modal that takes the current view to the next page
				      					</li>
				      				</ul>
				      			</p>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        						June 6, 2013
      						</a>
      					</div>
      					<div id="collapseFour" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				Today has focused on generating statistics for the line drawing test,
				      				sending this data to the server, and integrating this test into the
				      				natural test sequence along with the other follow circle test. All of
				      				these goals were achieved. The statisics being gathered are scaled
				      				because the resolution of the screen may change based on the device.
				      				The data that is being gathered is comprised of the distance from the
				      				starting point to the starting circle, the distance from the ending point
				      				and the ending circle, and the velocity.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				Another component added to the line drawing test is that as the test
				      				goes on, the length of time that the user has to view the two circles
				      				decreases. This now means that the subject has to use some sort of flash
				      				memory to store the positions of the circles and it must be recalled
				      				on instinct.
				      			</p>
				      			<p class="lead"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					There should be focus on creating an integrated balance
				      					test. I am not sure yet how to do this... brainstorm :D
				      				</li>
				      				<li>
				      					Everything said before not including what I have finished:
				      					<ul>
				      						<li>
				      						Circle game
					      					<ul>
						      					<li>
						      						Collect a distance metric to see how far the fingers were
						      						from the correct circles
						      					</li>
						      					<li>
						      						Check which transitions are difficult for the subject to
						      						follow
						      					</li>
						      					<li>Make the balls never cross over themselves about the y-axis</li>
						      				</ul>
							      			</li>
							      			<li>
							      				New tests
							      				<ul>
							      					<li>
							      						A test where user is shown a sequence of shapes and is asked
							      						to draw one of the shapes from the sequence. For instance, a
							      						subject is shown in order a square, a triangle, an octagon,
							      						and a circle. The user will be the prompted to draw the 3rd
							      						shape from that sequence. The subject should draw the octagon.
							      						Likewise, other questions could be asked such as draw the shape
							      						shown that had the least number of sides.
							      					</li>
							      					<li>
							      						Adding on to the test described above, I could combine cognitive
							      						and balance testing by having the user draw the shape using
							      						tilt registered by the tablet.
							      					</li>
							      				</ul>
						      				</li>
						      			</ul>
				      				</li>
				      			</ul>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
						<div class="accordion-heading">
	  						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
	    						June 8, 2013
	  						</a>
	  					</div>
	  					<div id="collapseFive" class="accordion-body collapse">
	  						<div class="accordion-inner">
	  							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				I have created the functionality for the third test. This test asks the user
				      				to keep a ball within a circle by tilting the device. The ball has an initial
				      				random acceleration and the user must counter act this acceleration by moving
				      				the device. The user will be scored on the percent of time that the user keeps
				      				tha ball in the designated radius.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				I still need to add the timing functionality but it will be the same
				      				functionality that exists in the first test. Once I finish this test
				      				I will look at computer vision techniques for new tests.
				      				My goal for tomorrow is to totally finish the
				      				third test so I can show it in the progress report meeting.
				      			</p>

				      			<p class="lead"><b>Things that need doing</b></p>
				      			<p>
				      				<ul>
				      					<li>Add full functionality to the balance test</li>
				      					<li>
				      						Change the color of the open circle when the user
				      						puts the ball in the middle
				      					</li>
				      					<li>
				      						Add the timer from the first test to this test
				      					</li>
				      					<li>
				      						Add this test to the flow of the other tests
				      					</li>
				      					<li>Do not let an incompleted form be sent! (will change)</li>
						      			<li>
						      				New tests
						      				<ul>
						      					<li>
						      						A test where user is shown a sequence of shapes and is asked
						      						to draw one of the shapes from the sequence. For instance, a
						      						subject is shown in order a square, a triangle, an octagon,
						      						and a circle. The user will be the prompted to draw the 3rd
						      						shape from that sequence. The subject should draw the octagon.
						      						Likewise, other questions could be asked such as draw the shape
						      						shown that had the least number of sides.
						      					</li>
						      					<li>
						      						Adding on to the test described above, I could combine cognitive
						      						and balance testing by having the user draw the shape using
						      						tilt registered by the tablet.
						      					</li>
						      				</ul>
						      			</li>
				      				</ul>
				      			</p>
	  						</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
        						June 9, 2013
      						</a>
      					</div>
      					<div id="collapse6" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				As of now, I have finished tests that measure reflexes, balance, coordination,
				      				and memory. The test that was completed today measures a subject's balance
				      				by having them use a tablet's tilt functionality to move a ball inside a
				      				circle and overcome an initial acceleration. The functionality added today
				      				includes changing the color of the circle when the ball goes inside it,
				      				sending the data to the server and the database, and adding the test
				      				to the flow of tests created before.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				I still need to develop new tests that integrate the technologies available
				      				on the tablet. Also, I would like to add functionality to the website that
				      				shows charts derived from the gathered data. This will allow researchers
				      				to make draw conclusions from new results. I also need to populate the database
				      				using the football players as test subjects.
				      			</p>
				      			<p class="lead"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					Add a tab on the website that visualizes the data using Google charts
				      				</li>
				      				<li>
				      					Populate the database
				      				</li>
				      				<li>
				      					Develop a test that measures cognition
				      				</li>
				      				<li>
				      					Use more of the technologies available on the tablet (such as audio and video)
				      				</li>
				      				<li>Also, everything I have not finished that is listed in previous posts</li>
				      			</ul>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse7">
        						June 12, 2013
      						</a>
      					</div>
      					<div id="collapse7" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				It has been a while since my last update. As of now, I pretty much have a
				      				minimal viable product. I have finished three tests measuring reflexes, memory,
				      				and coordination. I still have to implement a test that measures cognition, but
				      				I will probably join it with the memory test using different shapes so a fast
				      				decision has to be made. The main improvement that has been made since my last
				      				post is that I have added proctor functionality. This means that a proctor
				      				logs in with the subject so the data can be linked with a medical professional.
				      				I have added cookies that hold on to the proctor information so they do not
				      				have to login each time with different users. I also added a logout button
				      				after the last test in order for the proctor to disassociate them self with
				      				other tests.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				Another big improvement is the analyze tab. This allows a proctor to login and
				      				search data from subjects. The proctor, after the email and password are entered,
				      				can type the name or email of a patient and pull up information about this patient.
				      				There is only a tablular display as of now, but I would like to add a graphical
				      				display using HighCharts.
				      			</p>
				      			<p class="lead"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					Add a button to the analyze tab that displays the data graphically for a subject
				      				</li>
				      				<li>
				      					Populate the database
				      				</li>
				      				<li>
				      					Develop a test that measures cognition
				      				</li>
				      				<li>
				      					Clean up the login process so no errors can occur. This includes checking if
				      					a given email and password exist in the database and if not, show an alert. Also,
				      					check if the subject entry form has been fully completed before submitting it.
				      					Show an alert if there is a problem. Also, get rid of the modal functionality
				      					that allows a user to click outside of the modal to have it disappear.
				      				</li>
				      				<li>Also, everything I have not finished that is listed in previous posts</li>
				      			</ul>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse8">
        						June 13, 2013
      						</a>
      					</div>
      					<div id="collapse8" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				I have added graphical functionality for the analyze tab. Underneath the
				      				search bar, I added three pills. The pills allow the user to view and
				      				navigate the data differently. One pill allows the proctor to see all
				      				of the patients and choose which one's data to view. Two of the other pills
				      				allow the proctor to choose between tabular and graphical view. I have added
				      				line graphs that can show the data over time for the patient instead of
				      				looking at one instance of the data. I have used HighCharts but there are
				      				some things to do to make it fully functional.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				I have to add more tooltip support for the HighChart graphs such that the proctor
				      				can see the classification of the test, the age of the subject, the sport, and
				      				the education level of the individual. Also it might be beneficial to break
				      				up the graphs in to different lines for each classification. Perhaps allow
				      				the proctor to enable this functionality if necessary.
				      			</p>
				      			<p class="lead"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					Clean up the HighCharts tooltips, perhaps add a click functionality
				      				</li>
				      				<li>
				      					Add a password field in the login screen for the Home tab that will
				      					allow a user to track their results. (In case they switch doctors and
				      					would like to share the information).
				      				</li>
				      				<li>
				      					Allow the analyze tab to work with the user password field as well. Add
				      					a checkbox in the login modal that that indicates whether the person
				      					logining in is a patient or a proctor.
				      				</li>
				      				<li>
				      					Populate the database
				      				</li>
				      				<li>
				      					Add more shapes to the memory test to involve cognitive measurements
				      				</li>
				      				<li>
				      					<b>Clean up the login process so no errors can occur. This includes checking if
				      					a given email and password exist in the database and if not, show an alert. Also,
				      					check if the subject entry form has been fully completed before submitting it.
				      					Show an alert if there is a problem. Also, get rid of the modal functionality
				      					that allows a user to click outside of the modal to have it disappear.</b>
				      				</li>
				      				<li>Also, everything I have not finished that is listed in previous posts</li>
				      			</ul>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse9">
        						June 16, 2013
      						</a>
      					</div>
      					<div id="collapse9" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				I have imporved the graphical functionality by including more information in
				      				the tooltip. I have also fixed the bug so a proctor does not need to keep
				      				logining in for different subjects. I have made the visualization more
				      				presentable using the pills. I have also made the graphs more presentable
				      				by altering the margins. Also, I have added alerts that get shown if
				      				there is an authentication failure.
				      			</p>
				      			<p class="lead"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					Don't allow missing parts in the form to be sent
				      				</li>
				      				<li>
				      					Clean up the to tooltip
				      				</li>
				      				<li>
				      					Add a password field in the login screen for the Home tab that will
				      					allow a user to track their results. (In case they switch doctors and
				      					would like to share the information).
				      				</li>
				      				<li>
				      					Allow the analyze tab to work with the user password field as well. Add
				      					a checkbox in the login modal that that indicates whether the person
				      					logining in is a patient or a proctor.
				      				</li>
				      				<li>
				      					Populate the database
				      				</li>
				      				<li>
				      					Add more shapes to the memory test to involve cognitive measurements
				      				</li>
				      				<li>Also, everything I have not finished that is listed in previous posts</li>
				      			</ul>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse10">
        						June 21, 2013
      						</a>
      					</div>
      					<div id="collapse10" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				I have started looking into eye tracking and gaze prediction. I think
				      				it will be difficult because of the varying position of the head and
				      				distance to the device. Also, the camera on the device is not very good.
				      				I have started now by detecting certain colors using a sample picture
				      				of an eye. By using the intensity and positions of blobs developed from
				      				these colors, I might be able to estimate the gaze. If the algorithm I
				      				am using to detect gaze does not work, I will be able to, at least, check
				      				which direction the eye is looking to test reflexes and motor skills.
				      			</p>
				      			<p class="lead"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					Generate metrics for blob colors in eyes to estimate position
				      				</li>
				      				<li>
				      					Port what is needed from OpenCV and NumPy to JavaScript :/
				      				</li>
				      				<li>
				      					Populate the database
				      				</li>
				      				<li>
				      					Add more shapes to the memory test to involve cognitive measurements
				      				</li>
				      				<li>Also, everything I have not finished that is listed in previous posts</li>
				      			</ul>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
        						June 23, 2013
      						</a>
      					</div>
      					<div id="collapse11" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				I have now created a demo application that can be used to track the sclera
				      				and the pupil using color segmentation and blob detection. The application
				      				takes as an input, a picture of a face. The program then uses Haar
				      				classification to detect where the eye is. The ROI then gets set
				      				to the bounding rectangle of the eye. Color segmentation now comes into
				      				play. With the new ROI set, the sclera and pupil are detected. A sclera will
				      				only be shown if it is at most one standard deviation in distance away
				      				from the pupil. This is used to filter out blobs of desirable sizes to
				      				be misclassified as sclera. Lines are then drawn from the sclera to
				      				the pupil. The ROI as is reset to the original image with the eye
				      				altered and drawn on to demonstrate how the algorithm will work.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				I still need to use video data and do it in real time under different
				      				conditions. The blob size threshold values also need to be relative
				      				to the size of the image. And, of course, I need to port OpenCV to
				      				JavaScript or use Processing.js to use OpenCV.
				      			</p>
				      			<p class="lead"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					Make blob threshold values relative
				      				</li>
				      				<li>
				      					Try the demo with video data
				      				</li>
				      				<li>
				      					Track more than one eye
				      				</li>
				      				<li>
				      					Port what is needed from OpenCV and NumPy to JavaScript :/
				      				</li>
				      				<li>
				      					Populate the database
				      				</li>
				      				<li>
				      					Add more shapes to the memory test to involve cognitive measurements
				      				</li>
				      				<li>
				      					Also, everything I have not finished that is listed in previous posts
				      				</li>
				      			</ul>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
        						June 25, 2013
      						</a>
      					</div>
      					<div id="collapse12" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				I have now changed the algorithm for which I track the eyes and predict
				      				the gaze. Instead of using the sclera and the pupils extracted from
				      				HSV color thresholding, I use the points from the bounding Haar
				      				rectangle and the pupil extracted from a grayscale image. The algorithm
				      				works taking the resultant vector of the vectors from each point
				      				on the rectangle to the pupil centroid. This resultant vector can them
				      				be used to predict the gaze. I currently have a program that visualizes
				      				the gaze, but it needs to be finely tuned.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				I still need to filter what Haar rectangles can be used as eyes even
				      				if a positive result has been returned. This can be done by checking
				      				in how many frames a certain Haar feature appears, and if it does not
				      				appear for long enough, it can be discarded. I also need to add more
				      				filtering on what can be considered a pupil. This can be done by checking
				      				the angles from the boundary rectangle points to the proposed pupil. If
				      				the angles are not within the range that they should be, the pupil will
				      				be discarded. I also need to add a calibration feature in order to get
				      				better gaze prediction results.
				      			</p>
				      			<p class="lead"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					Map the ending point from the vector such that it is always within
				      					the boundary rectangle. This will decrease the jitter
				      				</li>
				      				<li>
				      					Filter the Haar rectangles and the pupils so it more accurately
				      					classifies each.
				      				</li>
				      				<li>
				      					Create a calibration application that can be imported and used
				      					to get better results by calibrating the tracker.
				      				</li>
				      				<li>
				      					Populate the database
				      				</li>
				      				<li>
				      					Add more shapes to the memory test to involve cognitive measurements
				      				</li>
				      				<li>
				      					Also, everything I have not finished that is listed in previous posts
				      				</li>
				      			</ul>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
        						June 30, 2013
      						</a>
      					</div>
      					<div id="collapse13" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				At this point, I have an application that can track the gaze on the
				      				screen after calibration and visualize it inside an OpenCV GUI. The
				      				calibration is done by having the user look at the four corners of
				      				the screen and to look at the center. After each point, the user is
				      				asked to press enter. These points set the range to map the values
				      				to. Therefore small changes in eye movement elicit and greater change
				      				in the GUI.
				      			</p>
				      			<p>
				      				The jitter in the looking position was fixed by adding three moving
				      				average filters on the data returned. Points are collected and the
				      				moving average is computed for each of the eye positions. These two
				      				looking positions are then averaged. A moving average filter is
				      				established for this averaged value and the moving average is computed
				      				to get a looking point with significantly less jitter.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				Another improvement that has been made is the adaptive thresholding and
				      				id assignation for the eyes. The adaptive thresholding is used to
				      				more accurately determine the position of the pixel in different
				      				lighting conditions. It works by thresholding the binary image
				      				using different values as the treshold. Then the blob gathered from
				      				the image is passed into a function that determine how close the blob's
				      				metrics resemble that of a pupil. Through experimentation, this approach
				      				has been shown to work for different lighting situations. The id assignation
				      				is used to identify and track eyes from different frames in order to
				      				analyze their position (for jitter stabilization).
				      			</p>
                    <p class="lead"><b>Video update</b></p>
                    <iframe width="420" height="315" src="//www.youtube.com/embed/3I4h9aJp3_w" frameborder="0" allowfullscreen></iframe>
				      			<iframe width="420" height="315" src="//www.youtube.com/embed/T4gX2aEFebo" frameborder="0" allowfullscreen></iframe>
                    <p class="lead" style="padding-top:15;"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					When computing the moving average, try to remove outliers and
				      					recompute the moving average. This will decrease the jitter.
				      				</li>
				      				<li>
				      					Track the head and adjust for the head position because the eyes
				      					will shifted as well causing a distortion as to where the user
				      					is looking
				      				</li>
				      				<li>
				      					Advance the API to have multiple users by tracking the heads
				      					and assigning ids to the heads.
				      				</li>
				      				<li>
				      					Send the image data from JavaScript for analysis
				      				</li>
				      				<li>
				      					Populate the database
				      				</li>
				      				<li>
				      					Add more shapes to the memory test to involve cognitive measurements
				      				</li>
				      				<li>
				      					Also, everything I have not finished that is listed in previous posts
				      				</li>
				      			</ul>
      						</div>
    					</div>
					</div>
          			<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
        						July 7, 2013
      						</a>
      					</div>
      					<div id="collapse14" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
                      At this point, I have a working control panel that uses eye tracking
                      as it's control method. In order to get this working since the last
                      report, I have eliminated outliers when computing the moving average,
                      tracked the movement of the head by taking the average position of
                      the eyes in order to compensate for the movement, and scaled the
                      application for full screen use. I have also applied the filters
                      on the video being shown back to the user. So now the depicted gaze
                      of the user exhibits less jitter than before.
				      			</p>
				      			<p>
				      				For the control panel program to work, I have also needed to create
                      a better program for calibration. This is where most of my work this
                      week went to. I looked in to how the smart board calibration works
                      and tried to implement some if its features. Now the calibration works
                      a lot better and it is more intuitive.
				      			</p>
				      			<p>
				      				On Sunday, I spent most of my time getting familiar with the getUserMedia
                      API. I have now a video stream that is displayed on the screen
                      of my web application. Also, I have made it possible for this
                      stream to be analyzed (which is awkward to do with a stream). I have
                      also done some research on how to port my Python application to Javascript.
                      There exists 2 JavaScript image processing tools that I am keen
                      on using: <a href="https://github.com/foo123/HAAR.js/tree/master/cascades">
                      HAAR.js</a> and <a href="https://github.com/jeromeetienne/imageprocessing.js">
                      imageprocessing.js</a>. I would like to port the entire algorithm to JavaScript
                      and not rely on the server at all. It sounds a bit ambitious, but
                      I don't think it will be too hard.
				      			</p>
                    <p>
                      Now for the bad news. iOS does not support getUserMedia because Apple
                      is developing it and Apple does not like developers. I have found a way to
                      do it however. If I create an native iOS app and use the iOS URL Scheme,
                      I could open the application when that test comes up and the results
                      can be pushed to the server. The downside is that I have to use Obj C
                      and that the UI will change when the user starts the test.
                    </p>
                    <p style="padding-bottom:10px;">
                      The JavaScript eye tracking test will work for subjects using
                      Android tablets. I think I should focus on this and not the Obj C
                      stuff until next week. Also, Apple will eventually release
                      the getUserMedia API and the application will work.
                    </p>
                    <p class="lead"><b>Video update</b></p>
                    <iframe width="420" height="315" src="//www.youtube.com/embed/0GDYRIPZKWM" frameborder="0" allowfullscreen></iframe>
                    <iframe width="420" height="315" src="//www.youtube.com/embed/4R3JNb3FSqY" frameborder="0" allowfullscreen></iframe>
				      			<p class="lead" style="padding-top:15;"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					Port the project to JavaScript
				      				</li>
				      				<li>
				      					Create a native iPad App for eye tracking using the
                        Obj C OpenCV libraries. (I will therefore need to learn
                        Obj C)
				      				</li>
				      				<li>
				      					Advance the API to have multiple users by tracking the heads
				      					and assigning ids to the heads.
				      				</li>
				      				<li>
				      					Send the image data from JavaScript for analysis
				      				</li>
				      				<li>
				      					Populate the database
				      				</li>
				      				<li>
				      					Add more shapes to the memory test to involve cognitive measurements
				      				</li>
				      				<li>
				      					Also, everything I have not finished that is listed in previous posts
				      				</li>
				      			</ul>
      						</div>
    					</div>
					</div>
					<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse15">
        						July 15, 2013
      						</a>
      					</div>
      					<div id="collapse15" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				Two things have been accomplished this week. I have improved the
				      				training and calibration phase of the eye tracking software in
				      				Python and I have starting porting the Python project, camgaze, 
				      				to JavaScript. This is difficult because a lot of the computer
				      				vision algorithms need to be implemented. I have ported the
				      				moving average classes, added functionality for getting 
				      				camera data, and have started working on blob detection. There
				      				is a long road ahead but I think it is possible to finish.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				I am having a lot of trouble doing blob detection because I have
				      				to implement the connected components algorithm and the UnionFind
				      				structure for showing equivalence between subset keys. I hope to 
				      				have the port finished by the end of next week.
				      			</p>
				      			<p class="lead"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					Finish porting camgaze to JavaScript
				      				</li>
				      				<li>
				      					Populate the database
				      				</li>
				      				<li>
				      					Add more shapes to the memory test to involve cognitive measurements
				      				</li>
				      				<li>
				      					Also, everything I have not finished that is listed in previous posts
				      				</li>
				      			</ul>
      						</div>
    					</div>
    				</div>
    				<div class="accordion-group">
    					<div class="accordion-heading">
      						<a class="accordion-toggle lead" data-toggle="collapse" data-parent="#accordion2" href="#collapse16">
        						July 22, 2013
      						</a>
      					</div>
      					<div id="collapse16" class="accordion-body collapse">
      						<div class="accordion-inner">
      							<p class="lead"><b>Summary</b></p>
				      			<p>
				      				I am very happy to say that I have implemented eye tracking
				      				in the worst FEASIBLE language to do so, JavaScript. Not
				      				to sound like I am bragging, I am just surprised. I have 
				      				created a suite of classes that can be used for computer vision
				      				applications and canvas drawing. I have implemented a blob 
				     				detection algorithm, an eye tracking algorithm, canvas drawing
				     				applications, a union find structure, a moving average list
				     				structure, and a wrapper that allows for easy use of these 
				     				things.
				      			</p>
				      			<p style="padding-bottom:10px;">
				      				I still have to implement the calibration and filtering 
				      				classes. Once these are done, a JavaScript test for eye
				      				movement can easily be implemented. I have structured
				      				the API as of now to allow the calibration and filtering
				      				to be a separate class that you pass data from the eye
				      				tracker. This will mean that developers will be able 
				      				to play around with the calibration and filtering as they
				      				would like. 
				      			</p>
				      			<p class="lead"><b>Video update</b></p>
				      			<iframe width="420" height="315" src="//www.youtube.com/embed/w1vurmCOI_I" frameborder="0" allowfullscreen></iframe>
				      			<p class="lead" style="padding-top:15px;"><b>Things that need doing</b></p>
				      			<ul>
				      				<li>
				      					Port the calibration and filtering to JavaScript
				      				</li>
				      				<li>
				      					POPULATE THE DATABASE!!!
				      				</li>
				      				<li>
				      					Also, everything I have not finished that is listed in previous posts
				      				</li>
				      			</ul>
      						</div>
    					</div>
    				</div>
    			</div>
	    	</div>
	    </div>

		<!-- JQuery and Bootstrap Javascript files -->
		<script text="text/javascript" src="js/jquery-1.9.1.js"></script>
		<script src="js/bootstrap.js"></script>

	</body>
</html>

