

<html>
<head>
	<title>Concussion Testing</title>
	<!-- Bootsrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le Bootstrap styles -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- Le other styles -->
	<style>
		body {
			padding-top: 60px;
			padding-left: 30px;
			padding-right: 30px;
			background: lightgrey;
		}

	</style>
  <script type='text/javascript' id='lt_ws' src='http://localhost:49487/socket.io/lighttable/ws.js'></script>
</head>
	<body>
		<!-- Navigation bar -->
		<div class="navbar navbar-fixed-top navbar-inverse">
	      <div class="navbar-inner">
	        <div class="container">
        	    <a class="brand" href="/">Home</a>
       		    <a class="brand" href="/about.html">About</a>
       		    <a class="brand" href="/blog.html">Progress</a>
       		    <a class="brand" href="/view_data.html">Analyze</a>
       		    <a class="brand" href="https://github.com/wallarelvo/concuss">GitHub</a>
	        </div>
	      </div>
	    </div>

	     <!-- Modal that is displayed once you start -->
	    <div id="startMessage" data-backdrop="static" class="modal hide fade">
			<div class="modal-header">
			    <h3 class="brand">Testing your coordination and memory</h3>
			</div>
			<div class="modal-body">
		    	<p class="lead">
			    	Two circles will be presented to you for a short period of time. Once
			    	the circles disappear, draw line from left to right indicating
			    	the line between the two circles. Once you lift your finger, the result
			    	will be registered and you will be shown how close you were. This will
			    	occur 20 times, each iteration giving you less time to see where the
			    	starting and ending circles are. You will be scored on how far your
			    	starting and ending points are from the respective circles and
			    	on the velocity of your finger on the page.
			    </p>
			    <p class="lead">
			    	Press <b>Okay</b> and start drawing the line to begin.
			    </p>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Okay</button>
			</div>
		</div>

		<!-- Modal displayed at the end of the test -->
		<div id="thankYouMessage" data-backdrop="static" class="modal hide fade">
			<div class="modal-header">
			    <h3 class="brand">Finishing up</h3>
			</div>
			<div class="modal-body">
		    	<p class="lead">
			    	Thank you. You are all set!
			    </p>
			    <p class="lead">
			    	Press <b>Okay</b> to go back to the start screen. Press <b>Logout</b> to remove
			    	your proctor information and go to the start screen.
			    </p>
			</div>
			<div class="modal-footer">
			    <a href="/" class="btn btn-primary">Okay</a>
			    <a href="/" onclick="removeCookies()" class="btn btn-warning">Logout</a>
			</div>
		</div>

	    <!-- Modal that is displayed once you finish -->
	    <div id="endMessage" data-backdrop="static" class="modal hide fade">
			<div class="modal-header">
			    <h3 class="brand">Results</h3>
			</div>
			<div class="modal-body">
				<table class="table table-hover" border="0">
		        <tr>
		          	<td><b>Scaled Average Initial Deviation:</b></td>
		          	<td id="startingDeviation"></td>
		        </tr>
		        <tr>
		          	<td><b>Scaled Average Final Deviation:</b></td>
		          	<td id="finalDeviation"></td>
		        </tr>
		        <tr>
		          	<td><b>Scaled Average Velocity:</b></td>
		          	<td id="velocity"></td>
		        </tr>
		      	</table>
			</div>
			<div class="modal-footer">
			    <a href="/draw_shape.html" class="btn">Retry</a>
			    <button type="button" onClick="sendData()" class="btn btn-primary">Submit</button>
			</div>
		</div>

		<!-- All the images used in the app -->
		<img id="circlesmall" src="/img/circlesmall.png" style="display:none;"/>
		<img id="circlemedium" src="/img/circlemedium.gif" style="display:none;"/>

		<canvas id="mainCanvas"></canvas>

		<!-- JQuery and Bootstrap Javascript files -->
		<script text="text/javascript" src="/js/jquery-1.9.1.js"></script>
		<script text="text/javascript" src="/js/jquery.cookie.js"></script>
		<script src="/js/bootstrap.js"></script>

		<!-- Concuss.js and Canvas utilities -->
		<script text="text/javascript" src="/js/canvas_util.js"></script>
		<script text="text/javascript" src="/js/line_stats.js"></script>
		<script text="text/javascript" src="/js/draw_shape.js"></script>
	</body>
</html>

