

<html>
<head>
	<title>Concussion Testing</title>
	<!-- Bootsrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le Bootstrap styles -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- Le other styles -->
	<style>
		body {
			padding-top: 60px;
			padding-bottom: 20px;
			padding-left: 30px;
			padding-right: 30px;
			background: lightgrey;
		}
	</style>
  <script type='text/javascript' id='lt_ws' src='http://localhost:49487/socket.io/lighttable/ws.js'></script>
</head>
	<body>
		<!-- Navigation bar -->
		<div class="navbar navbar-fixed-top navbar-inverse">
	      <div class="navbar-inner">
	        <div class="container">
        	    <a class="brand" href="/">Home</a>
       		    <a class="brand" href="/about.html">About</a>
       		    <a class="brand" href="/blog.html">Progress</a>
       		    <a class="brand" href="/view_data.html">Analyze</a>
       		    <a class="brand" href="https://github.com/wallarelvo/concuss">GitHub</a>
	        </div>
	      </div>
	    </div>
	    <div class="container">
	    	<div class="span5 offset4">
	    		<h1>Concuss.js</h1>
      			<p class="lead">Give me your digits!</p>
      			<p style="padding-top: 10px;">
      				<span id="loadButtons">
      					<button onclick="updateProctor()" class="btn btn-large btn-primary">
      						Update proctor
      					</button>
      					&nbsp;
      					<button onclick="addNewTest()" class="btn btn-large btn-success">
      						Add new test
      					</button>
      				</span>
      			</p>
      		</div>

      		<div id="userForm" class="span5 offset3" style="display:none;">
	      		<table class="table table-hover" border="0">
			  		<tr>
			  			<td class="lead">First Name</td>
			  			<td>
							<input type="text" id="fName" placeholder="Douglas">
						</td>
					</tr>
					<tr>
						<td class="lead">Last Name</td>
						<td>
							<input type="text" id="lName" placeholder="Adams">
						</td>
					</tr>
					<tr>
						<td class="lead">Email</td>
						<td>
					  		<input type="email" id="email" placeholder="potato@example.com">
					  	</td>
					</tr>
					<tr>
						<td class="lead">Age</td>
						<td>
					  		<input type="text" id="age" placeholder="42">
					  	</td>
					</tr>
					<tr>
						<td class="lead">Sport</td>
						<td>
					  		<input type="text" id="sport" placeholder="Quidditch">
					  	</td>
					</tr>
					<tr>
						<td class="lead">Gender</td>
						<td>
						  	<select id="gender">
						  		<option>Male</option>
							  	<option>Female</option>
							  	<option>Transgender</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="lead">Education</td>
						<td>
						  	<select id="education">
						  		<option>Elementary</option>
							  	<option>Middle School</option>
							  	<option>High School</option>
							  	<option>Post Secondary</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="lead">Classification</td>
						<td>
						  	<select id="classification">
						  		<option>Baseline</option>
						  		<option>Pre-Season</option>
							  	<option>Baseline-Post Injury</option>
							  	<option>Post Cigarette</option>
						  		<option>Drowsy</option>
						  		<option>Intoxicated</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="lead">Prior Concussion</td>
						<td>
						  	<select id="priorConcussion">
						  		<option>No</option>
							  	<option>Yes</option>
							</select>
						</td>
					</tr>
				</table>
				<div class="span5 offset1">
					<a href="/follow_circle.html" onClick="updateCookies()" class="btn-large btn-primary">
						Begin tests
					</a>
				</div>
			</div>
		</div>

		<!-- Modal that is displayed once you finish -->
	    <div id="loginMessage" data-backdrop="static" class="modal hide fade">
			<div class="modal-header">
			    <h3 class="brand">Proctor Login</h3>
			</div>
			<div class="modal-body">
				<div id="authAlertProctor" class="alert alert-error" style="display:none;">
					<b>Gosh darn it.</b> You must enter a username and password.
					<button type="button" class="close" onclick='$("#authAlert").css("display", "none")'>&times;</button>
				</div>
				<table class="table table-hover" border="0">
					<tr>
						<td class="lead">Email</td>
						<td>
					  		<input type="email" id="proctorEmail" placeholder="potato@example.com">
					  	</td>
					</tr>
					<tr>
			  			<td class="lead">Password</td>
			  			<td>
							<input type="password" id="password" placeholder="">
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
			    <button onclick="checkAuthProctor()" class="btn btn-primary">Okay</button>
			</div>
		</div>
		<!--
		<div id="userLoginMessage" data-backdrop="static" class="modal hide fade">
			<div class="modal-header">
			    <h3 class="brand">User Login</h3>
			</div>
			<div class="modal-body">
				<div id="authAlertUser" class="alert alert-error" style="display:none;">
					<b>Gosh darn it.</b> You must enter a username and password.
					<button type="button" class="close" onclick='$("#authAlert").css("display", "none")'>&times;</button>
				</div>
				<table class="table table-hover" border="0">
					<tr>
						<td class="lead">Email</td>
						<td>
					  		<input type="email" id="email" placeholder="potato@example.com">
					  	</td>
					</tr>
					<tr>
			  			<td class="lead">Password</td>
			  			<td>
							<input type="password" id="userPassword" placeholder="">
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
			    <a href="/follow_circle.html" onclick="checkAuthUser()" class="btn btn-primary">
			    	Okay
			    </a>
			</div>
		</div>
		-->

		<!-- JQuery and Bootstrap Javascript files -->
		<script text="text/javascript" src="/js/jquery-1.9.1.js"></script>
		<script text="text/javascript" src="/js/jquery.cookie.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script text="text/javascript" src="/js/index.js"></script>

		<!-- Concuss.js and Canvas utilities -->
		<!-- <script text="text/javascript" src="/js/index.js"></script> -->
	</body>
</html>

