

<html>
<head>
	<title>Concussion Testing</title>
	<!-- Bootsrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le Bootstrap styles -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- Le other styles -->
	<style>
		body {
			padding-top: 60px;
			padding-bottom: 20px;
			padding-left: 30px;
			padding-right: 30px;
			background: lightgrey;
		}
		.controls {
			padding-top:11px;
		}

	</style>
</head>
	<body>
		<!-- Navigation bar -->
		<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
        	    <a class="brand" href="/">Tests</a>
       		    <a class="brand" href="/about.html">About</a>
       		    <a class="brand" href="/blog.html">Progress</a>
       		    <a class="brand" href="https://github.com/wallarelvo/concuss">GitHub</a>
	        </div>
	      </div>
	    </div>
	    <div class="container">
	    	<div class="span5 offset4">
	    		<h1>Concuss.js</h1>
      			<p class="lead">Give me your digits!</p>
      		</div>

      		<div class="span5 offset3">
	      		<form class="form-horizontal"> 
			  		<div class="control-group">
			  			<label class="control-label lead" for="fName">First Name</label>
			  			<div class="controls">
							<input type="text" id="fName" placeholder="Douglas">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label lead">Last Name</label>
						<div class="controls">
							<input type="text" id="lName" placeholder="Adams">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label lead">Email</label>
						<div class="controls">
					  		<input type="email" id="email" placeholder="potato@example.com">
					  	</div>
					</div>
					<div class="control-group">
						<label class="control-label lead">Age</label>
						<div class="controls">
					  		<input type="text" id="age" placeholder="42">
					  	</div>
					</div>
					<div class="control-group">
						<label class="control-label lead">Sport</label>
						<div class="controls">
					  		<input type="text" id="sport" placeholder="Quidditch">
					  	</div>
					</div>
					<div class="control-group">
						<label class="control-label lead">Gender</label>
						<div class="controls">
						  	<select id="gender">
						  		<option>Male</option>
							  	<option>Female</option>
							  	<option>Transgender</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label lead">Education</label>
						<div class="controls">
						  	<select id="education">
						  		<option>Elementary</option>
							  	<option>Middle School</option>
							  	<option>High School</option>
							  	<option>Post Secondary</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label lead">Classification</label>
						<div class="controls">
						  	<select id="classification">
						  		<option>Baseline</option>
							  	<option>Pre-Season</option>
							  	<option>Baseline-Post Injury</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label lead">Prior Concussion</label>
						<div class="controls">
						  	<select id="priorConcussion">
						  		<option>No</option>
							  	<option>Yes</option>
							</select>
						</div>
					</div>
					<div class="control-group">
					    <div class="controls">
					      	<a href="/follow_circle.html" onclick="updateCookies()" class="btn btn-primary">
					      		Begin tests
					      	</a>
					    </div>
					</div>
				</form>
			</div>
		</div>
		<!-- JQuery and Bootstrap Javascript files -->
		<script text="text/javascript" src="/js/jquery-1.9.1.js"></script>
		<script text="text/javascript" src="/js/jquery.cookie.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script text="text/javascript">
			function updateCookies() {
				var inputIds = ["fName", "lName", "email", "age", "sport", "gender", "education", 
								"classification", "priorConcussion"];
				for (var i in inputIds) {
					$.cookie(inputIds[i], $("#" + inputIds[i]).val(), {expires: 7});
				}
				/* Will use this later on 
				$.ajax({
					type: 'POST',
			      	url:'/form_submit/',
			      	data: {
			      		subject_data: JSON.stringify(
			      			{
			      				fName : $("#fName").val(), 
			      				lName : $("#lName").val(),
			      				email : $("#email").val(),
			      				age : $("#age").val(),
			      				sport : $("#sport").val(),
			      				gender : $("#gender").val(),
			      				education : $("#education").val(),
			      				classification : $("#classification").val()
			      			}
			      		)
			      	}
			    });
				*/
			}
		</script>

		<!-- Concuss.js and Canvas utilities -->
		<!-- <script text="text/javascript" src="/js/index.js"></script> -->
	</body>
</html>

