<html>
<head>
	<title>Concussion Testing</title>
	<!-- Bootsrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le Bootstrap styles -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- Le other styles -->
	<style>
		body {
			padding-top: 60px;
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 30px;
			background: lightgrey;
		}

		.inline {
			padding-bottom: 10;
		}

		.chart {
			padding-bottom: 20px;
			padding-top: 20px;
		}
	</style>
</head>
	<body>
		<!-- Navigation bar -->
		<div class="navbar navbar-fixed-top navbar-inverse">
	      <div class="navbar-inner">
	        <div class="container">
        	    <a class="brand" href="/">Home</a>
       		    <a class="brand" href="/about.html">About</a>
       		    <a class="brand" href="/blog.html">Progress</a>
       		    <a class="brand" href="/view_data.html">Analyze</a>
       		    <a class="brand" href="https://github.com/wallarelvo/concuss">GitHub</a>
	        </div>
	      </div>
	    </div>

	    <div class="container">
	    	<div class="span5 offset4">
	    		<h1>Concuss.js</h1>
      			<p class="lead">Take a look inside me!</p>
      			<form class="form-inline">
				  	<input id="searchTerm" type="text" data-provide="typeahead" autocomplete="off" data-items="6" 
				  	class="input-large search-query" placeHolder="Enter name or email">
				  	<button type="button" onclick="searchData($('#searchTerm').val().toLowerCase())" class="btn btn-primary">
				  		Search
				  	</button>
				</form>
				<ul class="nav nav-pills">
					<li id="allData">
						<a onclick="getNames()" href="#">All Data</a>
					</li>
					<li id="tabular" class="disabled">
						<a onclick="tableEnabled()" href="#">Tabular</a>
					</li>
					<li id="graphical" class="disabled">
						<a onclick="graphEnabled()" href="#">Graphical</a>
					</li>
				</ul>
			</div>
			<div class="span5 offset3">
				<p id="nameArea"></p>
				<div class="accordion" id="dataHolder">
				</div>
			</div>
      	</div>
      	<div id="loginMessage" data-backdrop="static" class="modal hide fade">
			<div class="modal-header">
			    <h3 class="brand">Proctor Login</h3>
			</div>
			<div class="modal-body">
				<div id="authAlert" class="alert alert-error" style="display:none;">
					<b>Gosh darn it.</b> Wrong username or password.
					<button type="button" class="close" onclick='$("#authAlert").css("display", "none")'>&times;</button>
				</div>
				<!--
				<label class="radio inline">
					<input type="radio" name="optionsRadios" id="isProctor" value="option1" checked>
					Proctor
				</label>
				<label class="radio inline">
					<input type="radio" name="optionsRadios" id="isUser" value="option2">
					User
				</label>
				-->
				<table class="table table-hover" border="0">
					<tr>
						<td class="lead">Email</td>
						<td>
					  		<input type="email" id="email" placeholder="potato@example.com">
					  	</td>
					</tr>
					<tr>
			  			<td class="lead">Password</td>
			  			<td>
							<input type="password" id="password" placeholder="">
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
			    <button type="button" onclick="getNameData()" class="btn btn-primary">
			    	Okay
			    </button>
			</div>
		</div>

	    <!-- JQuery and Bootstrap Javascript files -->
		<script text="text/javascript" src="/js/jquery-1.9.1.js"></script>
		<script text="text/javascript" src="/js/jquery.cookie.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
		<script src="/js/view_data.js"></script>
	</body>
</html>

