<html>
<head>
	<title>Concussion Testing</title>
	<!-- Bootsrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le Bootstrap styles -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- Le other styles -->
	<style>
		body {
			padding-top: 60px;
			padding-left: 30px;
			padding-right: 30px;
			background: lightgrey;
		}

	</style>
</head>
	<body>
		<!-- Navigation bar -->
		<div class="navbar navbar-fixed-top navbar-inverse">
	      <div class="navbar-inner">
	        <div class="container">
        	    <a class="brand" href="/">Home</a>
       		    <a class="brand" href="/about.html">About</a>
       		    <a class="brand" href="/blog.html">Progress</a>
       		    <a class="brand" href="/view_data.html">Analyze</a>
       		    <a class="brand" href="https://github.com/wallarelvo/concuss">GitHub</a>
	        </div>
	      </div>
	    </div>

	    <div class="container">
	    	<div class="span5 offset4">
	    		<h1>Concuss.js</h1>
      			<p class="lead">Take a look inside me!</p>
      			<form class="form-search">
				  	<input id="searchTerm" type="text" class="input-large search-query" placeHolder="Enter name or email">
				  	<button type="button" onclick="searchData($('#searchTerm').val().toLowerCase())" class="btn btn-primary">
				  		Search
				  	</button>
				</form>
			</div>
			<div class="span5 offset3">
				<p id="data"></p>
				<div class="accordion" id="dataHolder">
				</div>
			</div>
      	</div>
      	<div id="loginMessage" class="modal hide fade">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3 class="brand">Proctor Login</h3>
			</div>
			<div class="modal-body">
				<table class="table table-hover" border="0">
					<tr>
						<td class="lead">Email</td>
						<td>
					  		<input type="email" id="proctorEmail" placeholder="potato@example.com">
					  	</td>
					</tr>
					<tr>
			  			<td class="lead">Password</td>
			  			<td>
							<input type="password" id="password" placeholder="">
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
			    <button type="button" onclick="getData()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
			    	Okay
			    </button>
			</div>
		</div>

	    <!-- JQuery and Bootstrap Javascript files -->
		<script text="text/javascript" src="/js/jquery-1.9.1.js"></script>
		<script text="text/javascript" src="/js/jquery.cookie.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/view_data.js"></script>
	</body>
</html>

